<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div style="position: relative;">
       <img src="<%= asset_path('top.jpg') %>", class="d-block w-100" alt="top">


        <div class="card-img-overlay d-flex">
         <p class="text-white" style="position: absolute; top: 100px; right: 100px; width: 500px; font-size: 30px;">
           Mecha＿Naviは、サービスマニュアルだけではイメージができない時や診断内容を共有する時などに使用します。作業の効率・質の向上に繋がればと思います。
         </p>
        </div>
      </div>

    </div>
    <div class="carousel-item">
      <img src="<%= asset_path('top1_s.jpg') %>", class="d-block w-100" alt="top1_s">
      <div class="carousel-caption d-sm-block" style="position: absolute; top: 100px; right: 100px;">
        <div class="text-left float-right">
       <h1 class="text-sm font-weight-bold">【 積極的に投稿を 】</h1>
       <h5 class="text-sm">　投稿をして作業内容の情報共有をして</br>
       　効率・質を向上しましょう</h5>
       </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="<%= asset_path('top2.jpg') %>", class="d-block w-100" alt="top2_s">
      <div class="carousel-caption d-sm-block" style="position: absolute; top: 100px; right: 100px;">
        <div class="text-left float-right">
       <h1 class="text-sm font-weight-bold">【 タスク確認を 】</h1>
       <h5 class="text-sm">翌日のお客様を迎える準備をしましょう。</h5>
       </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<% if !current_company && !current_admin && !current_employee %>
<h6>会員でない方はこちらからお試し頂けます。</h6>
  <%= link_to  companies_guest_sign_in_path, class: 'btn btn-outline-primary', method: :post do %>
   <i class="fa-solid fa-right-from-bracket"></i> ゲストログイン（企業用）
  <% end %>
  <%= link_to  employees_guest_sign_in_path, class: 'btn btn-outline-primary', method: :post do %>
   <i class="fa-solid fa-right-from-bracket"></i> ゲストログイン（社員用）
  <% end %>
<h6>会員でない方はこちらから新規登録頂けます。</h6>
  <%= link_to new_company_registration_path, class: 'btn btn-outline-primary' do %>
   <i class="fa-solid fa-right-from-bracket"></i> 新規登録
  <% end %>
<% end %>