<div class="card jumbotron">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <p class="mb-5 text-center"><%= image_tag("repair service.png", class: "rounded-circle", style: "width: 200px; height: 200px;") %></p>
      <h4 class="mb-5 text-center">企業ログイン</h4>
      <%= form_with model: @company, url: company_session_path, local: true do |f| %>
        <div class="field mb-3">
          <div class="col-md-4 mx-auto">
            <%= f.label :"メールアドレス", class: 'col-form_label' %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: 'form-control' %>
          </div>
        </div>
        <div class="field mb-3">
          <div class="col-md-4 mx-auto">
            <%= f.label :"パスワード（６文字以上）", class: "col-form-label" %>
            <% if @minimum_password_length %>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: 'form-control'%>
          </div>
        </div>
        <div class="actions">
          <div class="col-md-4 mx-auto">
            <%= f.label :" ", class: 'col-form-label' %>
            <%= f.submit "ログイン", class: 'btn btn-outline-primary btn-block mb-5' %>
          </div>
        </div>
      <% end %>
      <div class="col-md-12">
        <h4 class="col-md-10 mx-auto login-color">会員登録がお済みでない方</h4>
        <div class="col-md-12">
          <p class="col-md-10 mx-auto">
            <%= link_to "こちら", new_company_registration_path, class: 'text-decolation' %>から新規登録を行って下さい。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
