<h1>投稿</h1>
<%= form_with(model: @post, url: '/companies/posts', local: true) do |f| %>
<%= render 'layouts/error_messages', resource: @post %>
  <div>
    <%= f.label :title, 'タイトル' %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :images, '画像' %>
    <%= f.file_field :images, multiple: true %>
  </div>
  
  <div>
    <%= f.label :caption, '説明' %>
    <%= f.text_area :caption %>
  </div>
  

  <div>
    <%= f.submit  '投稿する' %>
  </div>
<% end %>
