<div class="container">
  <div class="row">
    <h1>タスク実行</h1>
    <%= form_with(model: @task, url: confirm_employee_tasks_path, local: true) do |f| %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">タスク名</th>
          <th scope="col">タスク内容</th>
          <th scope="col">チェック</th>
        </tr>
      </thead>
      <tbody>
        <% @tasks.each_with_index do |task, index| %>
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><%= task.name %></td>
            <td><%= task.body %></td>
            <td><%= check_box_tag "task_#{task.id}", task.id, task.checked? %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
    <div class="form-group">
      <%= f.label :memo, 'メモ' %>
      <%= f.text_area :memo, class: "form-control", rows: "3", placeholder: "忘れないために何でも記入していきましょう\n記入例\n-翌日13時に◯◯様来店時に注文部品を渡す\n-診断が難航しているので相談したい...etc" %>
    </div>
    <br>
      <%= f.submit '確認画面へ', class: "btn btn-outline-primary" %>
  <% end %>
</div>