<div class="card jumbotron">
  <div class="row">
    <div class="col-12 mx-auto">
      <p class="mb-5 text-center"><%= image_tag("repair service.png", class: "rounded-circle", style: "width: 300px; height: 300px;") %></p>
      <h4 class="mb-5 text-center">社員ログイン</h4>



       <%= form_with model: @employee, url: employee_session_path, local: true do |f| %>
       <div class="field mb-3">
         <%= f.label :"メールアドレス", class: 'col-4' %>
         <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: 'col-4' %>
       </div>
       <div class="field mb-5">
         <%= f.label :"パスワード（６文字以上）", class: "col-4" %>
         <% if @minimum_password_length %>
         <% end %>
         <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: 'col-4 rounded'%>
       </div>

       <div class="actions">
         <%= f.label :" ", class: 'col-4' %>
         <%= f.submit "ログイン", class: 'btn btn-primary col-4' %>
       </div>
      <% end %>

    </div>
  </div>
</div>
