<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <h4 class="mb-5 col-2 text-center text-color">社員ログイン</h4>

      <h5 class="mt-5 mb-4 ml-4 col-4 text-center text-color">会員の方はこちらからログイン</h5>
      
       <%= form_with model: @employee, url: employee_session_path, local: true do |f| %>
       <div class="field mb-1">
         <%= f.label :"メールアドレス", class: 'col-3' %>
         <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
       </div>
       <div class="field mb-1">
         <%= f.label :"パスワード（６文字以上）", class: "col-3" %>
         <% if @minimum_password_length %>
         <% end %>
         <%= f.password_field :password, autocomplete: "new-password", class: 'rounded'%>
       </div>

       <div class="actions">
         <%= f.label :" ", class: 'col-3' %>
         <%= f.submit "ログイン", class: 'btn btn-primary col-2' %>
       </div>
      <% end %>

    </div>
  </div>
</div>
