<div class="card jumbotron bg-light">
  <div class="container">
    <h1><%= @company.company_name %>様の社員一覧</h1>
    <%= link_to admin_companies_path, class: 'btn btn-outline-primary' do %>
      <i class="fa-regular fa-file-image"></i> 投稿履歴一覧
    <% end %>
    <%= link_to admin_companies_path, class: 'btn btn-outline-primary' do %>
      <i class="fa-solid fa-users-viewfinder"></i> 顧客一覧
    <% end %>

    <% @stores.each do |store| %>
      <% employees_in_store = @employees.select { |employee| employee.store_id == store.id } %>
      <% if employees_in_store.any? %>
        <h2><%= store.name %>店</h2>
        <table class="table">
          <thead>
            <tr>
              <th>社員ID</th>
              <th>社員名</th>
              <th>メールアドレス</th>
              <th>ステータス</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% employees_in_store.each do |employee| %>
              <tr>
                <td><%= employee.id %></td>
                <td><%= link_to "#{employee.full_name}の詳細ページ", admin_company_employee_path(id: employee.id, company_id: @company.id), class: "text-blue border-bottom border-blue" %></td>
                <td><%= employee.email %></td>
                <td>
                  <% if employee.is_active? %>
                    <p class="text-success">有効</p>
                  <% else %>
                    <p class="text-secondary">退職</p>
                  <% end %>
                </td>
                <td>
                  <% if employee.is_active == true %>
                    <%= link_to admin_employee_calendar_path(company_id: @company, employee_id: employee), class: "btn btn-outline-primary" do %>
                      <i class="fa-regular fa-chart-bar"></i> タスク状況
                    <% end %>
                    <%= link_to history_admin_company_employee_posts_path(company_id: @company, employee_id: employee), class: "btn btn-outline-primary" do %>
                      <i class="fa-regular fa-file-image"></i> 投稿一覧
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    <% end %>
  </div>
  <%= render partial: 'shared/pagination', locals: { items: @employees } %>
</div>
