  <div class="card jumbotron bg-light">
    <h4 class="text-center mb-3"><%= @company.company_name %>様の社員一覧</h4>
    <% @stores.each do |store| %>
      <% employees_in_store = @employees.select { |employee| employee.store_id == store.id } %>
      <% if employees_in_store.any? %>
      <h3 class="col-md-10 mx-auto mb-3"><%= store.name %>店</h3>
      <div class="table-responsive">
        <table class="table col-md-10 mx-auto">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">社員名</th>
              <th scope="col">社員ID</th>
              <th scope="col">メールアドレス</th>
              <th scope="col">ステータス</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% employees_in_store.each do |employee| %>
              <tr>
                <th scope="row"><%= @employees.index(employee) + 1 %></th>
                <td><%= link_to "#{employee.full_name}", admin_company_employee_path(@company.id, employee.id), class: "text-blue border-bottom border-blue" %></td>
                <td><%= employee.id %></td>
                <td><%= employee.email %></td>
                <td>
                  <% if employee.is_active? %>
                    <p class="text-success">有効</p>
                  <% else %>
                    <p class="text-secondary">退職</p>
                  <% end %>
                </td>
                <td>
                  <% if employee.is_active == true %>
                    <%= link_to admin_employee_calendar_path(@company, employee), class: "btn btn-outline-warning mr-1" do %>
                      <i class="fa-solid fa-calendar-days"></i> タスクカレンダー
                    <% end %>
                    <%= link_to history_admin_company_employee_posts_path(@company, employee), class: "btn btn-outline-primary" do %>
                      <i class="fa-solid fa-photo-film"></i> 投稿一覧
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% end %>
    <% end %>
    <%= render partial: 'shared/pagination', locals: { items: @employees } %>
  </div>
