<h1>Public::DailyTasks#new</h1>

<% @daily_tasks.each do |daily_task| %>
  <% task = daily_task.task %>
  <%= form_with(model: daily_task, url: company_daily_tasks_path(@company), local: true) do |f| %>
    <label><%= task.name %> <%= task.body %></label>
    <%= f.hidden_field :task_id %>
    <%= f.hidden_field :start_time %>
    <% if daily_task.new_record? %>
      <%= f.submit "x" %>
    <% else %>
      o <%= daily_task.employee.full_name %>
    <% end %>
  <% end %>
<% end %>
