<div class="card jumbotron bg-light">

  <div class="row">
    <h3 class="col-12 col-md-10 mx-auto mb-3">投稿詳細</h3>

    <div class="col-12 col-md-10 mx-auto">
      <%= render 'shared/post_show', post: @post %>

      <div class="my-3">
        <%= render "/employee/favorites/favorite", post: @post %>
        <p>コメント件数：<%= @post.post_comments.count %></p>
        <%= render "shared/post_comment", post: @post %>
      </div>

      <div class="mb-3">
        <%= form_with(model:[@post, @post_comment], local: true) do |f| %>
          <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
          <button type="submit" class="btn btn-primary btn-sm mb-4">
          	<i class="fa-regular fa-paper-plane"></i>
          </button>
        <% end %>
      </div>

    </div>

  </div>

</div>