<div class="card">
  <blockquote class="blockquote mb-0">
    <div class="container">
      <h1>マイページ</h1>
      <div class"row">
	    <h3 class="text-right">
		    <%= link_to favorites_employee_path(@employee), class: "btn btn-outline-warning" do %>
		      <i class="fa-regular fa-bookmark"></i> お気に入り
		    <% end %>
	    </h3>
	      <%= render partial: 'shared/employee_table', locals: { employee: @employee } %>
	      <h3 class= "text-center">
	      	<%= link_to edit_employee_path(id: @employee.id), class: "btn btn-outline-success btn-block" do %>
	    	    <i class="fa-solid fa-pen-to-square"></i> 編集
	    	  <% end %>
		      <%= link_to posts_path, class: "btn btn-outline-primary btn-block" do %>
		        <i class="fa-regular fa-image"></i> 投稿一覧
		      <% end %>
	      </h3>
    </div>
    </div>
  </blockquote>
</div>
<h1>自分が投稿した履歴</h1>

<% @my_posts.each do |post| %>
  <%= render "user/posts/post", post: post %>
<% end %>