<div class="card jumbotron">
  <div class="container">
    <h2><%= @employee.full_name %>のタスク状況</h2>
    <div class="row d-flex">
      <div class="card col-12 mx-auto ml-auto">
        <%= month_calendar(events: @daily_tasks) do |date, events| %>
          <%= date.day %>
          <% if events.size == 0 %>
            <%= link_to "タスク未入力", admin_company_employee_daily_tasks_path(@company,@employee, date: date) %>
          <% elsif events.size == @tasks.size %>
            完了
          <% else %>
           <%= link_to "#{events.size}/#{@tasks.size}", admin_company_employee_daily_tasks_path(@company,@employee, date: date) %>
          <% end %>
        <% end %>
      </div>
      <%= link_to admin_company_employees_path(@company), class: 'btn btn-outline-primary' do %>
        <i class="fa-solid fa-circle-left"></i> 戻る
      <% end %>
    </div>
  </div>
</div>