<div class="card jumbotron bg-light">
  <h4 class="col-12 col-md-10 mx-auto mb-3"><%= @employee.full_name %>のタスク進捗</h4>
  <div class="table-responsive col-12 col-md-10 mx-auto">
    <table class="table">
      <tbody>
        <tr>
          <td>
            <%= month_calendar(events: @daily_tasks) do |date, events| %>
              <%= date.day %>
              <% if events.size == 0 %>
                <%= link_to "タスク未入力", admin_company_employee_daily_tasks_path(@company,@employee, date: date) %>
              <% elsif events.size == @tasks.size %>
                完了
              <% else %>
               <%= link_to "#{events.size}/#{@tasks.size}", admin_company_employee_daily_tasks_path(@company,@employee, date: date) %>
              <% end %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row mt-3 mb-5">
    <div class="col-md-4 mx-auto">
      <%= link_to admin_company_employees_path(@company), class: 'btn btn-outline-primary btn-block' do %>
        <i class="fa-solid fa-circle-left"></i> 戻る
      <% end %>
    </div>
  </div>
</div>