<div class="card jumbotron bg-light mx-auto">
	<h3 class="text-center mb-3">タスク管理</h3>
	<h4 class="col-md-5 mx-auto mb-3">新規登録</h4>
	<%= render 'shared/task_form', task: @task, url: admin_tasks_path %>
	<h4 class="col-md-10 mx-auto mb-3">タスク一覧</h4>
	<div class="table-responsive">
	  <table class="table col-md-10 mx-auto">
		  <thead class="thead-light">
			  <tr>
			  	<th scope="col">企業名</th>
			    <th scope="col">タスク名</th>
			    <th scope="col">タスク内容</th>
			    <th scope="col"></th>
			  </tr>
		  </thead>
		  <tbody>
		  	<% @tasks.group_by(&:company).each do |company, tasks| %>
				  <% tasks.each do |task| %>
					  <tr>
					  	<% if task == tasks.first %>
		            <td rowspan="<%= tasks.size %>"><%= company.company_name %></td>
		          <% end %>
						  <td><%= task.name %></td>
						  <td><%= task.body %></td>
						  <td>
						  	<%= link_to edit_admin_task_path(id: task.id), class: "btn btn-outline-success" do %>
						  	 <i class="fa-solid fa-pen-to-square"></i> 編集
						  	<% end %>
						  </td>
					  </tr>
				  <% end %>
			  <% end %>
		  </tbody>
	  </table>
	</div>
	<%= render 'shared/pagination', items: @tasks %>
</div>
