<%= form_with(model: car_name, url: url, local: true) do |f| %>
  <%= render 'layouts/error_messages', resource: car_name %>
  <div class="form-group row mx-auto">
  	<% if admin_signed_in? %>
		  <%= f.label :company_id, "企業の選択：", class: "col-form-label" %>
		  <%= f.collection_select :company_id, @companies, :id, :company_name, { prompt: "--選択して下さい--" }, class: 'form-control col-md-2 text-center' %>
	  <% end %>
  	<%= f.label :name, "　車名：", class: "col-form-label" %>
  	<%= f.text_field :name, class: 'form-control col-md-2' %>
  	<%= f.label :car_type, "　型式：", class: "col-form-label" %>
  	<%= f.text_field :car_type, class: 'form-control col-md-2' %>
  	<div class="form-check form-check-inline mx-auto">
  	  <%= f.radio_button :is_active, true %>
	    <%= f.label :is_active, "有効", class: "text-active" %>
	    <%= f.radio_button :is_active, false %>
	    <%= f.label :is_active, "無効", class: "text-invalid" %>
	  </div>
	  <% if car_name.new_record? %>
      <div class="button-layout">
        <button type="submit" class="btn btn-outline-primary">
          <i class="fa-solid fa-registered"></i> 登録
        </button>
      </div>
    <% else %>
      <% if current_company.email == 'guest_company@example.com' %>
        <h5>※ゲストログインは編集・削除ができません。</h5>
        <%= link_to car_names_path, class: 'btn btn-outline-primary col-sm-3' do %>
          <i class="fa-solid fa-circle-left"></i> 戻る
        <% end %>
      <% else %>
        <div class="button-layout">
          <button type="submit" class="btn btn-outline-success">
            <i class="fa-solid fa-floppy-disk"></i> 保存
          </button>
        </div>
      <% end %>
    <% end %>

  </div>
<% end %>