<div class="form-group">
  <div class="row">
    <div class="col-md-4 d-flex align-items-center justify-content-start justify-content-md-end">
      <%= f.label :store_id, "勤務地", class: 'col-form-label' %>
    </div>
    <div class="col-md-8">
      <% if user_type == "admin" %>
        <%= f.collection_select :store_id, @stores, :id, :name, {prompt: "--選択して下さい--", class: 'col-rounded', autofocus: true} %>店
      <% elsif user_type == "company" %>
        <%= f.collection_select :store_id, current_company.stores, :id, :name, {prompt: "--選択して下さい--", class: 'col-rounded', autofocus: true} %>店
      <% elsif user_type == "employee" %>
        <%= employee.store.name %> 店
      <% end %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-md-4 d-flex align-items-center justify-content-start justify-content-md-end">
       <%= f.label :image, "プロフィール画像", class: 'col-form-label' %>
    </div>
    <div class="col-md-8">
      <% if action_name == 'edit' %>
        <% if employee.image.attached? %>
          <%= image_tag(employee.image, class: "rounded-circle", style: "width: 100px; height: 100px;") %>
        <% else %>
          <%= image_tag("no_image.jpg", class: "rounded-circle", style: "width: 100px; height: 100px;") %>
        <% end %>
        <%= f.file_field :image, class: 'col-rounded' %>
      <% else %>
        <%= f.file_field :image, class: 'col-rounded' %>
      <% end %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-md-4 d-flex align-items-center justify-content-start justify-content-md-end">
       <%= f.label :"名前", class: 'col-form-label' %>
    </div>
    <div class="col-md-4">
      <small class="text-black-50">
        (姓)
      </small>
      <%= f.text_field :last_name, class: 'form-control', placeholder: "令和" %>
    </div>
    <div class="col-md-4">
      <small class="text-black-50">
        (名)
      </small>
      <%= f.text_field :first_name, class: 'form-control', placeholder: "道子" %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-md-4 d-flex align-items-center justify-content-start justify-content-md-end">
       <%= f.label :"フリガナ", class: 'col-form-label' %>
    </div>
    <div class="col-md-4">
      <small class="text-black-50">
        (セイ)
      </small>
      <%= f.text_field :last_name_kana, class: 'form-control', placeholder: "レイワ" %>
    </div>
    <div class="col-md-4">
      <small class="text-black-50">
        (メイ)
      </small>
      <%= f.text_field :first_name_kana, class: 'form-control', placeholder: "ミチコ" %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-md-4 d-flex align-items-center justify-content-start justify-content-md-end">
       <%= f.label :email, "メールアドレス", class: 'col-form-label' %>
    </div>
    <div class="col-md-8">
      <%= f.email_field :email, autocomplete: "email", class: 'form-control col-md-5', placeholder: "sample@examle.com" %>
    </div>
  </div>
</div>