<div class="form-group">
  <div class="row">
    <div class="col-md-4 d-flex align-items-center justify-content-start justify-content-md-end">
      <%= f.label :genre_id, "ジャンル選択", class: 'col-form-label' %>
    </div>
    <div class="col-md-8">
      <%= f.collection_select :genre_id, @genres, :id, :name, prompt: "--選択して下さい--", class: 'form-control text-center' %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-md-4 d-flex align-items-center justify-content-start justify-content-md-end">
      <%= f.label :car_name_id, "車名選択", class: 'col-form-label' %>
    </div>
    <div class="col-md-8">
      <%= f.collection_select :car_name_id, @car_names, :id, :name, :prompt => "--選択して下さい--", class: 'form-control text-center' %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-md-4 d-flex align-items-center justify-content-start justify-content-md-end">
      <%= f.label :car_name_id, "型式選択", class: 'col-form-label' %>
    </div>
    <div class="col-md-8">
      <%= f.collection_select :car_type_id, @car_names, :id, :car_type, :prompt => "--選択して下さい--", class: 'form-control text-center' %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-md-4 d-flex align-items-center justify-content-start justify-content-md-end">
      <%= f.label :title, 'タイトル', class: 'col-form-label' %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :title, class: 'form-control col-sm-5', placeholder: "タイトル記入" %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-md-4 d-flex align-items-center justify-content-start justify-content-md-end">
      <label for="post_images" style="cursor: pointer;">
        <i class="fas fa-image fa-lg"></i>
      </label>
    </div>
    <div class="col-md-8">
      <%= f.file_field :images, id: "post_images", multiple: true, accept: "image/jpeg, image/gif, image/png" %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-md-4 d-flex align-items-center justify-content-start justify-content-md-end">
      <label for="post_video" style="cursor: pointer;">
        <i class="fas fa-video fa-lg"></i>
      </label>
    </div>
    <div class="col-md-8">
      <%= f.file_field :video %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-md-4 d-flex align-items-center justify-content-start justify-content-md-end">
      <%= f.label :caption, '説明', class: 'col-form-label' %>
    </div>
    <div class="col-md-8">
      <%= f.text_area :caption, class: "form-control" %>
    </div>
  </div>
</div>