<% if post.images.present? %>
  <p>現在登録されている画像（削除するものはチェックしてください）</p>
  <% post.images.each do |image| %>
    <%= f.check_box :image_ids, {multiple: true}, image.id, false %>
    <%= image_tag image, size:"100x100" %> <br>
  <% end %>
<% end %>
<div class="field mb-1">
  <div><%= f.label :caption, '説明', class: 'col-3' %></div>
  <div><%= f.text_area :caption, class: "form-control" %></div>
</div>
<div class="field mb-1">
  <div class="btn-group btn-block" role="group" aria-label="Basic example">
    <%= button_tag type: "submit", class: 'btn btn-outline-success' do %>
      <i class="fa-solid fa-floppy-disk"></i> 保存する
    <% end %>
    <%= link_to post_path(post.id), class: "btn btn-outline-primary" do %>
      <i class="fa-solid fa-circle-info"></i> 投稿詳細
    <% end %>
  </div>
</div>