<div class="card jumbotron">
<div class="card-body">
  <h5 class="card-title">タイトル:<%= post.title %></h5>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      会社名：<%= post.employee.company.company_name %>　店舗名：<%= post.employee.store.name %>店　投稿者：<%= post.employee.full_name %>
    </li>
    <li class="list-group-item">
      車名：<%= post.car_name.name if post.car_name.present? %>
      型式：<%= post.car_name.car_type if post.car_name.present? %>
      ジャンル：<%= post.genre.name if post.genre.present? %>
    </li>
  </ul>

  <% if post.images.attached? %>
    <div style="text-align: center;">
      <% post.images.each do |image| %>
       <%= image_tag(image, width: "75%", class: "img-fluid") %>
      <% end %>
    </div>
  <% elsif post.video.attached? %>
    <div class='file-container'>
      <%= video_tag rails_blob_path(post.video), controls: true, class: 'responsive-video rounded', width: '100%' %>
    </div>
  <% end %>
    <div class="card-body">
      <p class="card-text">説明文</br><%= post.caption%></p>
      <p class="card-text text-center"><small class="text-muted">投稿日：<%= post.created_at.strftime('%Y/%m/%d') %></small></p>
    </div>
    <div class="card-body text-center">
      <div class="btn-group btn-block" role="group" aria-label="Basic example">
        <% if admin_signed_in? %>
          <%= link_to "#{post.employee.full_name}の投稿一覧へ戻る", history_admin_company_employee_post_path(employee_id: post.employee_id, id: post.id), method: :get, class: 'btn btn-outline-primary' %>
          <%= link_to '編集', edit_post_path(post.id), class: "btn btn-outline-success" %>
          <%= link_to '削除', admin_company_employee_post_path(post.id), method: :delete, data: { confirm: '削除してよろしいですか?' }, class: "btn btn-outline-danger" %>
        <% elsif company_signed_in? %>
          <%= link_to '投稿一覧へ', company_employee_posts_path(company_id: current_company.id, employee_id: post.employee_id), class: "btn btn-outline-primary" %>
            <% if post.employee.company_id == current_company.id %>
              <%= link_to '編集', edit_company_employee_post_path(company_id: current_company.id,employee_id: post.employee_id, id: post.id), class: "btn btn-outline-success" %>
              <%= link_to '削除', company_employee_post_path(company_id: current_company.id, employee_id: post.employee_id, id: post.id), method: :delete, data: { confirm: '削除してよろしいですか?' }, class: "btn btn-outline-danger" %>
            <% end %>
        <% elsif employee_signed_in? %>
          <%= link_to posts_path(post.id), class: "btn btn-outline-primary" do %>
           <i class="fa-solid fa-photo-film"></i> 一覧
          <% end %>
            <% if post.employee_id == current_employee.id %>
              <%= link_to edit_post_path(post.id), class: "btn btn-outline-success" do %>
                <i class="fa-solid fa-pen-to-square"></i> 編集
              <% end %>
              <%= link_to post, method: :delete, data: { confirm: '削除してよろしいですか?' }, class: "btn btn-outline-danger" do %>
                <i class="fa-solid fa-trash"></i> 削除
              <% end %>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>