<div class="field mb-1">
  <th><%= f.label :genre_id, "ジャンルの選択:", class: 'col-3' %></th>
  <td>
    <% if user_type == "admin" %>
      <%= f.collection_select :genre_id, current_admin.genres, :id, :name, prompt: "--選択して下さい--", class: 'rounded' %></td>
    <% elsif user_type == "company" %>
      <%= f.collection_select :genre_id, current_company.genres, :id, :name, prompt: "--選択して下さい--", class: 'rounded' %></td>
    <% elsif user_type == "employee" %>
      <%= f.collection_select :genre_id, current_employee.company.genres, :id, :name, prompt: "--選択して下さい--", class: 'rounded' %></td>
    <% end %>
  </td>
</div>
<div class="field mb-1">
  <th><%= f.label :car_name_id, "車名の選択:", class: 'col-3' %></th>
  <td>
    <% if user_type == "admin" %>
      <%= f.collection_select :car_name_id, current_admin.car_names, :id, :name, :prompt => "--選択して下さい--", class: 'rounded' %>
    <% elsif user_type == "company" %>
      <%= f.collection_select :car_name_id, current_company.car_names, :id, :name, :prompt => "--選択して下さい--", class: 'rounded' %>
    <% elsif user_type == "employee" %>
      <%= f.collection_select :car_name_id, current_employee.company.car_names, :id, :name, :prompt => "--選択して下さい--", class: 'rounded' %>
    <% end %>
  </td>
</div>
<div class="field mb-1">
  <th><%= f.label :car_name_id, "型式の選択:", class: 'col-3' %></th>
  <td>
    <% if user_type == "admin" %>
      <%= f.collection_select :car_type_id, current_admin.car_names, :id, :car_type, :prompt => "--選択して下さい--", class: 'rounded' %>
    <% elsif user_type == "company" %>
      <%= f.collection_select :car_type_id, current_company.car_names, :id, :car_type, :prompt => "--選択して下さい--", class: 'rounded' %>
    <% elsif user_type == "employee" %>
      <%= f.collection_select :car_type_id, current_employee.company.car_names, :id, :car_type, :prompt => "--選択して下さい--", class: 'rounded' %>
    <% end %>
  </td>
</div>
<div class="field mb-1">
  <th><%= f.label :title, 'タイトル:', class: 'col-3' %></th>
  <td><%= f.text_field :title, placeholder: "タイトル記入" %></td>
</div>
<div class="field mb-1">
  <label for="post_images" style="cursor: pointer;">
  <i class="col-3 fas fa-image fa-lg"></i>
  </label>
  <div class="col-9">
    <td><%= f.file_field :images, id: "post_images", multiple: true, accept: "image/jpeg, iamge/gif, image/png" %></td>
  </div>
</div>
<div class="field mb-1">
  <label for="post_video" style="cursor: pointer;">
    <i class="col-3 fas fa-video fa-lg"></i>
  </label>
  <div class="col-9">
    <%= f.file_field :video %>
  </div>
</div>