<%= form_with(model: store, url: url, local: true) do |f| %>
	<%= render 'layouts/error_messages', resource: store %>
	<div class="form-group row mx-auto">
	  <% if admin_signed_in? %>
  	  <%= f.label :company_id, "企業選択：", class: "col-form-label" %>
  	  <%= f.collection_select :company_id, @companies, :id, :company_name, { prompt: "--選択して下さい--" }, class: 'form-control col-sm-2 text-center' %>
	  <% end %>
	  <%= f.label :name, "店舗名：", class: "ml-3 col-form-label" %>
	  <%= f.text_field :name, class: 'form-control col-sm-3' %>
	  <div class="form-check form-check-inline mx-auto">
	    <%= f.radio_button :is_active, true %>
	    <%= f.label :is_active, "有効", class: "text-active" %>
	    <%= f.radio_button :is_active, false %>
	    <%= f.label :is_active, "無効", class: "text-invalid" %>
	  </div>
	  <div class="form-group mx-auto">
      <div class="col-sm-12 text-center">
  	    <% if store.new_record? %>
          <div class="button-layout">
            <button type="submit" class="btn btn-outline-primary">
              <i class="fa-solid fa-registered"></i> 登録
            </button>
          </div>
        <% else %>
          <% if current_company.email == 'guest_company@example.com' %>
            <h5>※ゲストログインは編集・削除ができません。</h5>
            <%= link_to stores_path, class: 'btn btn-outline-primary col-sm-3' do %>
              <i class="fa-solid fa-circle-left"></i> 戻る
            <% end %>
          <% else %>
            <div class="button-layout">
              <button type="submit" class="btn btn-outline-success">
                <i class="fa-solid fa-floppy-disk"></i> 保存
              </button>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
