<%= form_with(model: task, url: url, local: true) do |f| %>
	<%= render 'layouts/error_messages', resource: task %>
	<div class="form-group row mx-auto">
	  <% if admin_signed_in? %>
  	  <%= f.label :company_id, "企業選択：", class: "ml-3 col-form-label" %>
  	  <%= f.collection_select :company_id, @companies, :id, :company_name, { prompt: "--選択して下さい--" }, class: 'form-control col-sm-2 text-center' %>
	  <% end %>
	</div>
	<div class="form-group row mx-auto">
	  <%= f.label :name, "タスク名", class: 'mr-5 col-form-label col-form-label-lg col-sm-2' %>
    <div class="col-sm-12">
      <%= f.text_field :name, class: 'form-control', placeholder: "タスク名の入力" %>
    </div>
  </div>
<div class="form-group row mx-auto">
  <%= f.label :body, "タスク内容", class: 'mr-5 col-form-label col-form-label-lg col-sm-2' %>
  <div class="col-sm-12">
    <%= f.text_field :body, class: 'form-control', placeholder: "タスク内容の入力" %>
  </div>
</div>
<div class="form-group row mx-auto">
  <div class="col-sm-12 text-center">
    <% if action_name == 'index' %>
      <div class="button-layout">
        <button type="submit" class=" btn btn-outline-primary col-sm-3">
          <i class="fa-solid fa-registered"></i>
          <%= submit %>
        </button>
      </div>
    <% elsif action_name == 'edit' %>
      <div class="button-layout">
        <button type="submit" class="btn btn-outline-success col-sm-3">
          <i class="fa-solid fa-floppy-disk"></i>
          <%= submit %>
        </button>
      </div>
    <% end %>
  </div>
</div>
<% end %>