<div class="card mx-auto">
	<div class="container">
		<h2 class="text-center">ジャンル管理</h2>
			<div class="mb-3">
		    <h3>ジャンル新規登録</h3>
		    <%= render 'shared/genre_form', genre: @genre, url: admin_genres_path(@genre) %>
	    </div>
	    <div class="mb-3">
		    <h3>ジャンル一覧</h3>
		    <table class="table">
			    <thead>
				    <tr>
					    <th>企業名</th>
					    <th>ジャンル名</th>
					    <th>状態</th>
					    <th></th>
				    </tr>
			    </thead>
			  <tbody>
          <% @genres.group_by(&:company).each do |company, genres| %>
            <% genres.each do |genre| %>
              <tr>
                <% if genre == genres.first %>
                  <td rowspan="<%= genres.size %>"><%= company.company_name %></td>
                <% end %>
                  <td><%= genre.name %></td>
                  <td>
                    <% if genre.is_active? %>
                      <p class="text-success">有効</p>
                    <% else %>
                      <p class="text-secondary">無効</p>
                    <% end %>
                  </td>
                  <td class="text-center"><%= link_to "編集", edit_admin_genre_path(genre), class: "btn btn-success" %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
		    </table>
	    </div>
    </div>
	</div>
</div>
