<div class="card jumbotron bg-light">
  <h3 class="mb-5 text-color text-center"><%= @employee.full_name %>さんの編集</h3>
  <%= form_with( model: @employee, url: employees_mypage_path, local: true) do |f| %>
    <%= render 'layouts/error_messages', resource: @employee %>
    <%= render "shared/employee_form", f: f, employee: @employee, user_type: "employee" %>

    <div class="row mt-5">
      <div class="col-md-6 mx-auto">
        <div class="btn-group btn-block" role="group" aria-label="Basic example">
          <%= button_tag type: "submit", class: 'btn btn-outline-success' do %>
            <i class="fa-solid fa-floppy-disk"></i> 保存
          <% end %>
          <%= link_to mypage_path, class: 'btn btn-outline-primary' do %>
            <i class="fa-solid fa-circle-left"></i> 戻る
          <% end %>
        </div>
        <% if current_employee.email == 'guest_employee@example.com' %>
          <small class="text-black-50">
            ※ゲストユーザーは編集処理ができません。
          </small>
        <% end %>
      </div>
    </div>
  <% end %>
</div>