<div class="card jumbotron bg-white">
  <h3 class="text-center mb-3">マイページ</h3>
  <div class"row">
    <div class="col-12 col-md-10 mx-auto mb-3">
	    <%= link_to favorites_mypage_path, class: "btn btn-outline-warning" do %>
	      <i class="fa-regular fa-bookmark"></i> お気に入り
	    <% end %>
    </div>
    <%= render partial: 'shared/employee_table', locals: { employee: @employee } %>

    <div class="row mt-3">
      <div class="col-12 col-md-6 mx-auto">
		    <div class="col-12 col-md-10 mx-auto">
		    	<% if current_employee.email == 'guest_employee@example.com' %>
		        <h5>※ゲストログインはマイページの編集ができません。</h5>
		        <div class="btn-group btn-block" role="group" aria-label="Basic example">
		        	<%= link_to edit_mypage_path, class: "btn btn-outline-success" do %>
			    	    <i class="fa-solid fa-pen-to-square"></i> 編集
			    	  <% end %>
				      <%= link_to history_mypage_path, class: "btn btn-outline-primary" do %>
				        <i class="fa-solid fa-clock-rotate-left"></i> 投稿履歴
				      <% end %>
				    </div>
		      <% else %>
		        <div class="btn-group btn-block" role="group" aria-label="Basic example">
			      	<%= link_to edit_mypage_path, class: "btn btn-outline-success" do %>
			    	    <i class="fa-solid fa-pen-to-square"></i> 編集
			    	  <% end %>
				      <%= link_to history_mypage_path, class: "btn btn-outline-primary" do %>
				        <i class="fa-solid fa-clock-rotate-left"></i> 投稿履歴
				      <% end %>
				      <%= link_to edit_employee_registration_path, class: "btn btn-outline-info" do %>
				        <i class="fa-solid fa-key"></i> 変更
				      <% end %>
				    </div>
				  <% end %>
				</div>
			</div>
		</div>

  </div>
</div>
