<div class="card jumbotron bg-light mx-auto">
	<h3 class="text-center mb-3">店舗管理</h3>
  <h4 class="col-md-5 mx-auto mb-3">新規登録</h4>
  <%= render 'shared/store_form', store: @store, url: admin_stores_path(@store) %>
  <div class="mb-3">
    <h4 class="col-md-10 mx-auto mb-3">店舗一覧</h4>
    <div class="table-responsive">
	    <table class="table col-md-10 mx-auto">
		    <thead class="thead-light">
			    <tr>
				    <th scope="col">企業名</th>
				    <th scope="col">店舗名</th>
				    <th scope="col">状態</th>
				    <th scope="col"></th>
			    </tr>
		    </thead>
  		  <tbody>
          <% @stores.group_by(&:company).each do |company, stores| %>
            <% stores.each do |store| %>
              <tr>
                <% if store == stores.first %>
                  <td rowspan="<%= stores.size %>"><%= company.company_name %></td>
                <% end %>
                <td><%= link_to store.name, admin_store_path(id: store.id), class: "underline" %> 店</td>
                <td>
                  <% if store.is_active? %>
                    <p class="text-success">有効</p>
                  <% else %>
                    <p class="text-secondary">無効</p>
                  <% end %>
                </td>
                <td>
                  <%= link_to edit_admin_store_path(store), class: "btn btn-outline-success" do %>
                    <i class="fa-solid fa-pen-to-square"></i> 編集
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
  	  </table>
	  </div>
  </div>
  <%= render 'shared/pagination', items: @stores %>
</div>
