<div class="card">
  <blockquote class="blockquote mb-0">
    <div class="container">
      <h2 class="mb-2"><%= @company.company_name %>の会員情報編集</h2>
        <%= form_with model: @company, url: company_path(@company), local: true do |f| %>
          <table class="table table-bordered mx-auto">
            <tbody>
              <%= render partial: 'shared/company_form', locals: { f: f, company: @company } %>
            </tbody>
          </table>
          <div class="actions mb-3">
            <%= button_tag type: "submit", class: 'btn btn-outline-success btn-block' do %>
            <i class="fa-solid fa-floppy-disk"></i> 保存する
            <% end %>
          </div>
        <% end %>
        <%= link_to unsubscribe_company_path(id: @company.id), class: 'btn btn-outline-danger btn-block' do %>
        <i class="fa-solid fa-user-minus"></i>  退会する
        <% end %>
    </div>
  </blockquote>
</div>