<div class="card mb-3 jumbotron" style="max-width: autopx;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <div id="<%= post.id %>">
      <% if post.images.present? %>
        <div id="carouselExampleControls<%= post.id %>" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <% post.images.distinct.each_with_index do |image, index| %>
              <div class="carousel-item <%= 'active' if index.zero? %>">
                <%= image_tag image, width: "100%", height: "250" %>
              </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls<%= post.id %>" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">前へ</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls<%= post.id %>" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">次へ</span>
          </a>
        </div>
      <% elsif post.video.attached? %>
        <div class='file-container'>
          <%= video_tag rails_blob_path(post.video), controls: true, class: 'responsive-video rounded', width: '100%', height: '250' %>
        </div>
      <% end %>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">タイトル:<%= post.title %></h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">会社名：<%= post.employee.company.company_name %>　店舗名：<%= post.employee.store.name %>店　投稿者：<%= post.employee.last_name %>　<%= post.employee.first_name %></li>
          <li class="list-group-item">車名：<%= post.car_name.name if post.car_name.present? %>　型式：<%= post.car_name.car_type if post.car_name.present? %>　ジャンル：<%= post.genre.name if post.genre.present? %></li>
        </ul>
        <p class="card-text">説明文：<%= post.caption %></p>
        <p class="card-text"><small class="text-muted">投稿日：<%= post.created_at.strftime('%Y/%m/%d/%H:%M') %></small></p>
        <div class="card-body">
          <div class="btn-group" role="group" aria-label="Basic example">
            <%= link_to '投稿詳細', post_path(post.id), class: "btn btn-outline-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
