<%= form_with(model: @post, local: true) do |f| %>
  <div>
    <%= f.label :title, 'タイトル' %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :images, '画像' %>
    <%= f.file_field :images, multiple: true %>
  </div>
  
  <div>
    <%= f.label :caption, '説明文' %>
    <%= f.text_field :caption %>
  </div>
  
  <div>
    <%= f.label :caption, '説明文' %>
    <%= f.text_field :caption %>
  </div>

  <% if @post.images.present? %>
    <p>現在登録されている画像（削除するものはチェックしてください）</p>
    <% @post.images.each do |image| %>
      <%= f.check_box :image_ids, {multiple: true}, image.id, false %>
      <%= image_tag image, size:"100x100" %> <br>
    <% end %>
  <% end %>

  <div>
    <%= f.submit  '編集する' %>
  </div>
<% end %>

<div>
<p>コメント件数：<%= @post.post_comments.count %></p>
<% @post.post_comments.each do |post_comment| %>
  <p><%= image_tag('sample-author1.jpg') %></p>
  <%= post_comment.employee.name %>
  <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
<% end %>
</div>
<div>
<%= form_with(model:[@post, @post_comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</div>
