<div class="card jumbotron mx-auto">
<h1>投稿</h1>
<%= form_with(model: @post, url: '/posts', local: true) do |f| %>
<%= render 'layouts/error_messages', resource: @post %>

<table class="table table-bordered">
  <tbody>
  <tr>
				<td>企業ID</td>
				<td><%= @employee.company.id %></td>
			</tr>
		  　<tr>
				<td>企業名</td>
				<td><%= @employee.company.company_name %></td>
			</tr>
			<tr>
				<td>所属</td>
				<td><%= @employee.store.name %>店</td>
			</tr>
		  <tr>
				<td>名前</td>
				<td>(姓) <%= @employee.last_name %></td>
				<td>(名) <%= @employee.first_name %></td>
			</tr>
			<tr>
				<td>フリガナ</td>
				<td>(セイ) <%= @employee.last_name_kana %></td>
				<td>(メイ) <%= @employee.first_name_kana %></td>
			</tr>
			</tbody>
			</table>
  <div class="field mb-1">
    <th><%= f.label :genre_id, "ジャンルの選択:", class: 'col-3' %></th>
    <td><%= f.collection_select :genre_id, current_employee.company.genres, :id, :name, :prompt => "--選択して下さい--", class: 'rounded' %></td>
  </div>
  <div class="field mb-1">
    <th><%= f.label :car_name_id, "車名の選択:", class: 'col-3' %></th>
    <td><%= f.collection_select :car_name_id, current_employee.company.car_names, :id, :name, :prompt => "--選択して下さい--", class: 'rounded' %></td>
  </div>
  <div class="field mb-1">
    <th><%= f.label :car_name_id, "型式の選択:", class: 'col-3' %></th>
    <td><%= f.collection_select :car_type_id, current_employee.company.car_names, :id, :car_type, :prompt => "--選択して下さい--", class: 'rounded' %></td>
  </div>
  <div class="field mb-1">
    <th><%= f.label :title, 'タイトル:', class: 'col-3' %></th>
    <td><%= f.text_field :title, placeholder: "タイトル記入" %></td>
  </div>
  
  
  <div class="field mb-1">
    <label for="post_images" style="cursor: pointer;">
      <i class="col-3 fas fa-image fa-lg"></i>
    </label>
    <div class="col-9">
     <td><%= f.file_field :images, id: "post_images", multiple: true, accept: "image/jpeg, iamge/gif, image/png" %></td>
    </div>
  </div>
  

  <div class="field mb-1">
    <label for="post_video" style="cursor: pointer;">
      <i class="col-3 fas fa-video fa-lg"></i>
    </label>
    <div class="col-9">
     <%= f.file_field :video %>
    </div>
  </div>
  
  <div class="field mb-1">
    <th><%= f.label :caption, '説明', class: 'col-3' %></th>
    <td><%= f.text_area :caption, class: "form-control" %></td>
  </div>

  <div class="field mb-1">
    <th><%= f.submit  '投稿する', class: 'col-3' %></th>
  </div>
<% end %>
</div>