<div class="card jumbotron bg-light mx-auto">
  <h3 class="mb-3 text-center">車両管理</h3>
  <h4 class="col-sm-5 mx-auto mb-3">新規登録</h4>
	<%= render 'shared/car_name_form', car_name: @car_name, url: company_car_names_path(current_company.id, @car_name) %>
	<div class="mb-3">
		<h4 class="col-sm-10 mx-auto mb-3">車両一覧</h4>
		<div class="table-responsive">
			<table class="table col-sm-10 mx-auto">
				<thead class="thead-light">
					<tr>
						<th scope="col">車名</th>
						<th scope="col">型式</th>
						<th scope="col">状態</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<% @car_names.each do |car_name| %>
						<tr>
							<td><%= car_name.name %></td>
							<td><%= car_name.car_type %></td>
							<td>
								<% if car_name.is_active? %>
									<p class="text-success">有効</p>
								<% else %>
									<p class="text-secondary">無効</p>
								<% end %>
							</td>
							<td>
								<%= link_to edit_company_car_name_path(current_company.id, car_name), class: "btn btn-outline-success" do %>
								  <i class="fa-solid fa-pen-to-square"></i> 編集
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
	<%= render 'shared/pagination', items: @car_names %>
</div>
