<!DOCTYPE html>
<html>
  <head>
    <title>MechaNavi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/e0dc052d03.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div class="container-fulid card">
    <div class="card-header">
     <header class="shadow-sm">
       <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <%= link_to image_tag("repair service.png", size: "50x50"), root_path, class: "image mt-2" %>
        <a class="navbar-brand font-italic" href="/">MechaNavi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
        </button>

       <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
         <% if admin_signed_in? %>
          <li class="nav-item active">
           <a class="nav-link" href="/admin/top">投稿一覧 <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
           <a class="nav-link" href="/admin/companies">会員一覧</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Dropdown
            </a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             <a class="dropdown-item" href="/admin/genres">ジャンル管理</a>
             <a class="dropdown-item" href="/admin/car_names">車両管理</a>
           </div>
           <li class="nav-item">
             <%= button_to destroy_admin_session_path, class: 'nav-link', method: :delete do %><i class="fa-solid fa-right-from-bracket"></i>logout<% end %>
           </li>
          </li>
         <% elsif company_signed_in? %>
          <li class="nav-item">
           <a class="nav-link" href="/companies"><i class="fa-solid fa-house"></i> ホーム <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
           <a class="nav-link" href="/companies/posts/index"><i class="fa-solid fa-image fa-1a"></i> 投稿一覧</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             <a class="dropdown-item" href="/companies/posts/index"><i class="fa-solid fa-image fa-1a"></i> 投稿</a>
             <a class="dropdown-item" href="/stores"><i class="fa-solid fa-shop"></i> 店舗管理</a>
             <a class="dropdown-item" href="/genres"><i class="fa-solid fa-list"></i> ジャンル管理</a>
             <a class="dropdown-item" href="/car_names"><i class="fa-solid fa-car"></i> 車両管理</a>
             <a class="dropdown-item" href="/companies/tasks">タスク管理</a>
            </div>
          </li>
          <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa-solid fa-users"></i> EmployeeDropdown
             </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             <a class="dropdown-item" href="/companies/employees/new"><i class="fa-solid fa-user-plus"></i> 社員登録</a>
             <a class="dropdown-item" href="/companies/employees/index"><i class="fa-solid fa-users-viewfinder"></i> 社員一覧</a>
            </div>
          </li>
          <li class="nav-item">
            <%= button_to destroy_company_session_path, class: 'nav-link', method: :delete do %><i class="fa-solid fa-right-from-bracket"></i> logout<% end %>
          </li>
          <li class="nav-item text-center">
             <a class="navbar-brand">ようこそ、<%= current_company.company_name %>様!</a>
          </li>
         <% elsif employee_signed_in? %>
          <li class="nav-item active">
             <a class="nav-link" href="/employees/mypage"><i class="fa-solid fa-id-card"></i> mypage <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="#"><i class="fa-solid fa-image"></i> Posts Lists</a>
          </li>
          <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Dropdown
             </a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             <a class="dropdown-item" href="/posts/new"><i class="fa-regular fa-square-plus"></i> New Post</a>
             <a class="dropdown-item" href="/posts"><i class="fa-regular fa-file-image"></i> Posts Index</a>
             <a class="dropdown-item" href="/employees/:employee_id/employees/tasks"><i class="fa-solid fa-list-check"></i> Tasks Index</a>
             
             <a class="dropdown-item"></a>
           </div>
          </li>
          <li class="nav-item">
            <%= button_to destroy_employee_session_path, class: 'nav-link', method: :delete do %><i class="fa-solid fa-right-from-bracket"></i> logout<% end %>
          </li>
          <li class="nav-item text-center">
             <a class="navbar-brand">ようこそ、<%= current_employee.last_name %><%= current_employee.first_name %>様!</a>
          </li>
         <% else %>
          <li class="nav-item active">
             <a class="nav-link" href="/about"><i class="fa-regular fa-message"></i> about <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="#"><i class="fa-solid fa-image"></i> post_lists</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="/companies/sign_in"><i class="fa-solid fa-right-from-bracket"></i> company_login</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="/employees/sign_in"><i class="fa-solid fa-right-from-bracket"></i> employee_login</a>
          </li>
         <% end %>
        </ul>
       </div>
        <%= render "layouts/serach" %>
      </nav>
     </header>
    <main>
      <div id="flash">
        <%= render "layouts/flash" %>
      </div>
      <%= yield %>
    </main>
     <%= render 'layouts/footer' %>
    </div>
   </div>
  </body>
</html>
